.backColor {
  background: linear-gradient(217deg, #8e806a, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(
      127deg,
      rgba(154, 231, 193, 0.897),
      rgba(182, 247, 182, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(111, 206, 250, 0.8),
      rgba(32, 32, 224, 0) 70.71%
    );
}



.style {
  padding: 0px 8rem;
  background-color: rgb(174, 202, 174);
  color: rgb(0, 0, 0);
}
.text-light {
  text-shadow: rgb(207, 209, 106) 3px 0.5px 5px;
}
.bg-style {
  background-color: rgb(68, 70, 68);
}

.footerStyle {
  background-color: rgb(68, 70, 68);
  margin-bottom: 0px;
  padding: 0.8rem;
}

.cardImg {
  border: 1px solid transparent;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImgStyle {
  border: 1px solid transparent;
  border-radius: 10%;
 
}
.btnEdit {
  background-color: rgb(161, 218, 196);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color 0.5s;
}
.btnEdit:hover {
  background-color: rgba(109, 253, 193, 0.87);
}

.btnDelete {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: powderblue;
  transition: background-color 0.3s;
  background-color: rgb(241, 151, 148);
}
.btnDelete:hover {
  background-color: rgb(255, 145, 0);
}

.whatsappStyle {
  background-color: #25d366;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  border: 1px solid transparent;
  border-radius:8px;
  margin: 0 2px;
}

.contactMeStyle {
  background-color: #7b6ac5;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  border: 1px solid transparent;
  border-radius:8px;
  margin: 0 5px;
}
.textDirection {
direction: rtl;
}

.cardInfo{
  text-decoration-line: underline;
}
.headerHomeImage{
  width:100px;
  height: auto;
}

img {
  height: fit-content;
  
}